---
// Footer component
---
<footer class="bg-black text-white py-10 text-center">
  <p>© 2025 Frvr. All rights reserved.</p>
  <div class="mt-4">
    <a href="#how-it-works" class="text-icterine mx-2 hover:text-orangeWheel">How It Works</a>
    <a href="#faqs" class="text-icterine mx-2 hover:text-orangeWheel">FAQs</a>
    <a href="#privacy" class="text-icterine mx-2 hover:text-orangeWheel">Privacy Policy</a>
  </div>
</footer>
