---
title: "Frvr"
---
<header class="bg-gradient-to-r from-cafeNoir to-myrtleGreen py-8 px-10 flex justify-between items-center shadow-2xl">
  <div class="text-icterine font-extrabold text-4xl tracking-wide drop-shadow-md">
    Frvr
  </div>
  <nav class="flex space-x-8">
    <a href="#how-it-works" class="text-icterine text-lg hover:text-orangeWheel transition-colors duration-300">How It Works</a>
    <a href="#faqs" class="text-icterine text-lg hover:text-orangeWheel transition-colors duration-300">FAQs</a>
    <a href="#privacy" class="text-icterine text-lg hover:text-orangeWheel transition-colors duration-300">Privacy Policy</a>
    <a href="/signup" class="text-icterine text-lg hover:text-orangeWheel transition-colors duration-300">Sign In</a>
  </nav>
</header>
